/*Reseteo*/
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
/*Estilos Generales*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__img {
	width: 120px;
	height: 48px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #ecc7f9;
	padding: 2rem;
	box-sizing: border-box;
}

main {
	max-width: 1200px;
	display: flex;
	padding: 2rem;
}

footer {
	width: 100%;
	background-color: #732d91;
	padding: 0.5rem;
	margin: 0;
}

/*Textareas*/
.campo__cifrar__container, .area__presentacion__container {
	background-color: #d8bfd8; /* Fondo lila menos intenso */
	border-radius: 0.5rem; /* Bordes redondeados */
	padding: 1rem; /* Unidades relativas */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.campo__cifrar,
.area__presentacion {
	width: 50%; /* 100% del contenedor */
	height: 300px; /* Altura fija, pero puedes ajustarla */
	border: 1px solid #dcdcdc;
	border-radius: 0.3rem; /* Bordes redondeados */
	font-size: 1rem; /* Fuente relativa */
	color: #333;
	transition: border-color 0.3s;
}

.campo__cifrar, .area__presentacion:focus {
	outline: none;
	border-color: #8e44ad; /* Borde violeta al enfocar */
}

/* Estilo de la Imagen */
.area__presentacion__img {
	max-width: 100%;
	height: auto;
	margin-top: 1rem; /* Espacio arriba de la imagen */
}

/* Botones */
.btn__encriptar,
.btn__desencriptar,
.boton__copiar {
	background-color: #8e44ad; /* Color violeta */
	color: white;
	border: none;
	border-radius: 2rem;
	padding: 0.7rem 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 1rem; /* Fuente relativa */
	width: 50%; /* Botones ocupan el 100% del ancho */
}

.btn__encriptar:hover,
.btn__desencriptar:hover,
.boton__copiar:hover {
	background-color: #732d91;
	border-radius: 0%;
}

/* Media Queries */
@media (max-width: 768px) {
	main {
		flex-direction: column;
		.area__presentacion {
			height: 120px; /* Reducir altura en pantallas más pequeñas */
		}

		.btn__encriptar,
		.btn__desencriptar,
		.boton__copiar {
			width: 100%; /* Botones a 100% de ancho en móviles */
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 480px) {
	main {
		padding: 10px; /* Reducir el padding en pantallas muy pequeñas */
	}

	.area__presentacion {
		font-size: 14px; /* Disminuir el tamaño de la fuente en móviles pequeños */
	}
}
